<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
    <title>Foos</title>
    <link href="App/css/bootstrap.min.css" rel="stylesheet">
    <link href="App/css/jumbotron-narrow.css" rel="stylesheet">
    <link href="App/css/foos.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body ng-controller="NavCtrl">
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li ng-class="{active: isActive('home')}"><a href="#">Home</a></li>
                    <li ng-class="{active: isActive('play')}"><a href="#/play">Play</a></li>
                    <li ng-class="{active: isActive('match')}"><a href="#/match">Matches</a></li>
                    <li ng-class="{active: isActive('team')}"><a href="#/team">Teams</a></li>
                    <li ng-class="{active: isActive('player')}"><a href="#/player">Players</a></li>
                    <li ng-class="{active: isActive('about')}"><a href="#/about">About</a></li>
                    <li ng-show="!user.isAuthenticated"><a href ng-click="signin()">Sign in</a></li>
                    <li class="dropdown" ng-show="user.isAuthenticated" dropdown>
                        <a href class="dropdown-toggle" dropdown-toggle>{{user.name}} <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href ng-click="signout()">Sign out</a></li>
                        </ul>
                    </li>
                </ul>
                <h3 class="text-muted">Foos</h3>
            </nav>
        </div>

        <ui-view></ui-view>

        <div class="footer">
            <div class="inner">
                <p>An exercise and work in progress, by <a href="https://twitter.com/trent_mi">@trent_mi</a>.</p>
            </div>
        </div>
    </div>

    <script src="App/scripts/angular.min.js"></script>
    <script src="App/scripts/angular-ui-router.min.js"></script>
    <script src="App/scripts/ui-bootstrap-tpls-0.12.0.min.js"></script>
    <script src="App/app.js"></script>
    <script src="App/controllers/navCtrl.js"></script>
    <script src="App/controllers/playCtrl.js"></script>
    <script src="App/controllers/homeCtrl.js"></script>
    <script src="App/controllers/teamCtrl.js"></script>
    <script src="App/controllers/playerCtrl.js"></script>
    <script src="App/controllers/matchCtrl.js"></script>
    <script src="App/controllers/authCtrl.js"></script>
    <script src="App/services/authModal.js"></script>
    <script src="App/services/authService.js"></script>
    <script src="App/services/matchService.js"></script>
    <script src="App/services/teamService.js"></script>
    <script src="App/services/playerService.js"></script>
</body>
</html>
