<div class="inner cover">
    <h2>About</h2>
    <div class="content">
        <h3><span class="label label-primary">Intent</span></h3>
        <p>Foos is a small personal project, designed with just three purposes in mind:</p>
        <ul>
            <li>Find out who the best NCR in-house Foosball player is. <small>(hint: it's not me)</small>.</li>
            <li>Familiarize myself with ServiceStack, 
                particularly in contrast to <a href="http://www.asp.net/web-api/overview/getting-started-with-aspnet-web-api/tutorial-your-first-web-api">Web Api 2</a></li>
            <li>Try out some different approaches to authentication and routing. 
                Particularly, using <a href="http://angular-ui.github.io/ui-router/site/#/api/ui.router">ui.router</a>
                instead of ngRoute, and extending ui.router 
                to provide well integrated authentication.
            </li>
        </ul>

        <h3><span class="label label-primary">Technology</span></h3>
        <p></p>Foos front-end is built upon <a href="https://angularjs.org/">AngularJS</a> 
        and <a href="https://angular-ui.github.io/">AngularUI</a>.</p>
        <p>The server is built using <a href="https://servicestack.net/">ServiceStack</a>.
            I am currently using <a href="https://github.com/ServiceStack/ServiceStack.OrmLite">ServiceStack.Ormlite</a> 
            for back-end persistence, but may change the database layer to something more customized, 
            due to personal preference over ORMs in general.
        </p>
        
        <h3><span class="label label-primary">Api and Logging</span></h3>
        <p>The restful api can be viewed at <a href="/metadata">/metadata</a>.</p>
        <p>Debugging logs can be viewed at <a href="/requestlogs">/requestlogs</a>. 
            This will likely be disabled if Foos ever 
            gets hosted publicly and/or taken seriously.</p>
        
        <h3><span class="label label-primary">Open Source</span></h3>
        <p>Foos is an open source project, licensed under the <a href="http://www.apache.org/licenses/LICENSE-2.0">Apache License</a>.</p>
        <p>You can follow or fork this project's progress at <a href="https://github.com/trentdm/Foos">https://github.com/trentdm/Foos</a>.</p>
    </div>
</div>