<div>
    <div class="modal-header">
        <h3 class="modal-title">Sign in</h3>
    </div>
    
    <form class="navbar-form" role="signin">
        <div class="modal-body">
            <div class="form-group">
                <input type="text" class="form-control" ng-model="name" placeholder="Username" autofocus/>
                <input type="password" class="form-control" ng-model="pass" placeholder="Password" />
            </div>
        </div>

        <div class="modal-footer">
            <button type="submit" class="btn btn-primary" ng-click="signin(name, pass)">Sign in</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </form>
</div>