<div class="jumbotron">
    <h1 class="cover-heading">Foosball and Bragging Central</h1>
    <p class="lead">Track your scores and earn bragging rights!</p>
    <p class="lead">
        <a href="#/play" class="btn btn-lg btn-success">Get Started!</a>
    </p>
</div>

<div class="row marketing">
    <div class="col-lg-4">
        <h2>Elegant</h2>
        <p>Designed and written to put the user first, Foos offers the ideal
            single-page application user experience for recording and 
            reviewing Foosball matches.</p>
        <p><a class="btn btn-primary" href="#/about" role="button">Read more &raquo;</a></p>
    </div>
    <div class="col-lg-4">
        <h2>Rich</h2>
        <p>An Api rich application, data is made easily accessible for 
            both the user and third-parties.</p>
        <p><a class="btn btn-primary" href="#/about" role="button">Read more &raquo;</a></p>
    </div>
    <div class="col-lg-4">
        <h2>Responsive</h2>
        <p>Built using the latest in web tools, 
            Foos offers a lightning fast user experience, 
            powered by its sophisticated back-end.</p>
        <p><a class="btn btn-primary" href="#/about" role="button">Read more &raquo;</a></p>
    </div>
</div>