<div class="inner cover">
    <h2>Matches</h2>
    <table class="table table-striped table-hover">
        <tbody>
            <tr>
                <th>#</th>
                <th>Date</th>
                <th>Players</th>
                <th>Scores</th>
                <th>Winner</th>
            </tr>
            <tr ng-repeat="match in pages.items">
                <td>{{match.id}}</td>
                <td>
                    <p>{{match.dateTime}}</p>
                    <p>Submitted by user: {{match.userAuthName}}</p>
                </td>
                <td>
                    <p ng-repeat="team in match.teams">{{team.players[0].name}}, {{team.players[1].name}}</p>
                </td>
                <td>
                    <p ng-repeat="team in match.teams">{{team.score}}</p>
                </td>
                <td>
                    <p ng-show="match.teams[1].isWinner"><span class="glyphicon glyphicon-none" aria-hidden="true"></span></p>
                    <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                </td>
            </tr>
        </tbody>
    </table>
    <pagination class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-show="pages.doShow" total-items="pages.totalItems" items-per-page="pages.itemsPerPage" ng-model="pages.currentPage" max-size="pages.menuSize" boundary-links="true"></pagination>
</div>