<div class="inner cover">
    <h2>Players</h2>
    <table class="table table-striped table-hover">
        <tbody>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Wins</th>
                <th>Losses</th>
                <th>Avg</th>
                <th>Points</th>
                <th>Avg</th>
            </tr>
            <tr ng-repeat="player in pages.items">
                <td>{{player.id}}</td>
                <td>{{player.name}}</td>
                <td>{{player.wins}}</td>
                <td>{{player.losses}}</td>
                <td>{{player.winAvg}}</td>
                <td>{{player.points}}</td>
                <td>{{player.pointsAvg}}</td>
            </tr>
        </tbody>
    </table>
    <pagination class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-show="pages.doShow" total-items="pages.totalItems" items-per-page="pages.itemsPerPage" ng-model="pages.currentPage" max-size="pages.menuSize" boundary-links="true"></pagination>
</div>