.row-centered {
    text-align:center;
}

.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

.alert-container {
    position: fixed; 
    z-index: 3;
    top: 85px;
    right: 8px;
    opacity: 0.9;
}

.alert {
    min-width: 250px;
}

.animate.ng-enter {
    -webkit-transition: 1s linear all;
    transition: 1s linear all;
    opacity: 0;
}
.animate.ng-enter-active {
    opacity: 1;
}
.animate.ng-leave {
    -webkit-transition: 1s linear all;
    transition: 1s linear all;
}
.animate.ng-leave-active {
    opacity: 0;
}

.cursor-pointer { cursor: pointer; }
.cursor-croshair { cursor: crosshair; }
.cursor-eresize { cursor: e-resize; }
.cursor-move { cursor: move; }

.register {
    border: 0;
    border-right: 1px solid #e0e0e0;
}

.foosball-container {
    background-image: url('/App/resources/table.gif');
    background-repeat: no-repeat;
    background-position: 0 100px;
    min-height: 600px;
}

.foosball-play {
    position: relative;
    opacity: 0.8;
    filter: alpha(opacity=80);
    margin-top: 70px;

}

.foosball-play .input-group {
    width: 75%;
}

.foosball-team {
     float: none; 
     margin: 0 auto;
}

.foosball-submit {
    z-index: 1;
    margin-top: 50px;
}

.glyphicon-none:before {
    content: "\2122";
    color: transparent !important;
}

[ng\:cloak],[ng-cloak],.ng-cloak{display:none !important}
